
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Marhey:wght@300&family=Oswald:wght@300;400;500;600;700&family=Satisfy&display=swap');

body{
    background-image: image('...assets/image/disneypicture');
}

.heading{
    text-align: center;
    font-family: Marhey, sans-serif;
    font-size: x-large;
}

.logo{
    text-align: center;
  
}

.facts{
    text-align: center;
}