
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Marhey:wght@300&family=Oswald:wght@300;400;500;600;700&family=Satisfy&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #bbbbbb
}

/*Heading */
header {
    
    text-align: center;
    background-color: #AAC9EE;
    font-family: Marhey, sans-serif;
    color: #0A5DC2;
    padding: 50px;
    font-size: xx-large;
}

main{
    width: 90vw;
    padding: 30px 20px;
    margin: 0 auto;
    min-height: calc(100vh -232px - 76px);
}

footer {
    
    text-align: center;
    background-color: #AAC9EE;
    color: #000;
    padding: 20px;
}

#header-container a {
    font-size: 1rem;
    font-weight: 900;
    text-decoration: none;
    color: #000;
    animation: slide-in .5s ease-out forwards;
}

#start,
  #score-holder {
      background-color: rgba(218, 228, 232, 0.6);
      margin: 4rem 1rem 1rem 1rem;
      padding: 1rem;
      border-radius: 2rem;
      animation: slide-in .5s ease-out forwards;
  }
#start>h1 {
    font-size: 2rem;
    text-align: center;
    margin: 2rem .5rem 4rem .5rem;
    color: rgb(255, 255, 255);
}

.your-name {
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

/* Add margin to the icon to look nicer */
.your-name>i {
    margin-right: .6rem;
    margin-top: 0.3rem;
}

/* Style the input */
#name-input {
    height: 2.5rem;
    width: 100%;
    margin: .1rem 0;
    padding: .3rem;
    border: 1px solid rgb(223, 230, 235);
    border-radius: .6rem;
    background-color: rgba(223, 230, 235, .6);
}

/* Style all the buttons to look similar */
.btn {
    border: 1px solid black;
    margin: 100px auto 0;
    background-color: #0A5DC2;
    width: 90%;
    max-width:  600px;
    border-radius: 10px;
    padding: 30px;
}

/* Make some space between the icon and the text */
.btn i {
    margin-left: .5rem;
}

#score-holder {
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
}

 #copyright{
    background-color: #AAC9EE;
    text-align: center;
    border-radius: 2px solid #bbbb;
       
        
    }
 

.question-area {
    border: 1px solid black;
    margin: 100px auto 0;
    background-color: #0A5DC2;
    width: 90%;
    max-width:  600px;
    border-radius: 10px;
    padding: 30px;

    
  }

  .question-area h1{
      font-size: 25px;
      color: black;
      font-weight: 600;
      border-bottom: 1px solid #AAC9EE;
      padding-bottom: 30px;
  }
.quiz{
    padding: 20px 0;

   

}

.quiz h2{
    font-size: 18px;
    color: black;
    font-weight: 600;

}
.score{
    color: #000;
}

.btn{
    background: #AAC9EE;
    color: black;
    font-weight: 500;
    width: 100%;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: none;
}

.correct{
    background: #1899CD;
}
.incorrect{
    background:  #F66565;
}

.btn:hover:not(disabled){
    background: #000;
    color: #bbbbbb;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #000;
    color: #bbbbbb;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}





  /* General design to apply to the quiz */
 


 
